{% load static %}
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_styles.css' %}">
</head>
{% block content %}
  <form method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <div class="container">
      <div class="blur-background"></div>
      <div class="form-container">
          <div class="form">
            <h2 style="text-align: center;"> Sign Up</h2>
              {{ form.username.label_tag }}
              <br>
              {{ form.username }}
              <br>
              {{ form.password1.label_tag }}
              <br>
              {{ form.password1 }}
              <br>
              {{ form.password2.label_tag }}
              <br>
              {{ form.password2 }}
          </div>
          <br>
          <div class="button-container">
              <button class="btn btn-primary" type="submit">Register</button>
          </div>
      </div>
    </div>

  </form>
{% endblock %}
